/* =============================================================================
  RESETS
============================================================================= */

html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

/* =============================================================================
  HTML, BODY
============================================================================= */

html,
body {
  height: 100%;
}


/* =============================================================================
  Header
============================================================================= */

.title {
    font-family: 'Josefin Slab', serif;
    font-size: 3rem;
    letter-spacing: 0.2rem;
}

.brand-name {
    font-size: 5rem;
    letter-spacing: 0.5rem;
}

/* =============================================================================
  Navigation Bar
============================================================================= */
.navbar {
    height: 100px;
    background-color: #fff;
}

/* =============================================================================
  Footer
============================================================================= */
.footer {
  background-color: #f7f7f7;
  height: 80px;
  position: absolute;
}

.copy-right {
    position:relative;
    top: 40%;
}
